doctype html
html
    head
        title Bedrijven
    body
        ul
            each bedrijf in #{bedrijven}
                li
                    span
                        h2 #{bedrijf.naam} - #{bedrijf.industrie}\n
                        p #{bedrijf.beschrijving}