doctype html
html
    head
        title Edit
    body
        button(onclick="window.location.href='/'") back
        h1 Pas de gewenste velden aan en sla de veranderingen op.
        span
            form(method='post', action='/werkzoekenden/edit/'+ )
                label(for='naam') Voor en achternaam:
                    input(type='text', name='naam', required=true)
                    br
                    label(for='email') E-mail address:
                    input(type='text', name='email', required=true)
                    br
                    label(for='competenties') Competenties:
                    input(id="competenties", name='competenties',placeholder='gescheiden met komma. vb: Engels,Frans,Java script' , required=true)
                    br
                    label(for='cv') cv:
                    input(id="cv", name='cv', required=true, placeholder='geef een link naar bv uw linked in profiel')
                    br
                    button(type='submit') Voeg toe