doctype html
html
  head
    title Job-related links
    link(rel='stylesheet', href='../public/stylesheets/style.css')
  body
    h1 Job-links
    ul
      li
        a(href="/vacatures") Vacatures
      li
        a(href="/bedrijven") Bedrijven
      li
        a(href="/werkgevers") Werkgevers
      li
        a(href="/werknemers") Werknemers
      li
        a(href="/recruiters") Recruiters
