doctype html
html
  head
    title Job-related links
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    span
    h1 Job-links
    ul
      li
        a(href="/vacatures") Vacatures
      li
        a(href="/bedrijven") Bedrijven
      li
        a(href="/werkgevers") Werkgevers
      li
        a(href="/werknemers") Werknemers
      li
        a(href="/recruiters") Recruiters
