doctype html
html
    head
        title Vacatures
    body
        h1 All Vacatures
        ul
            each vacature in vacatures
                li
                    span #{vacature.bedrijf} - #{vacature.recruiter}
                    form(action='/vacatures/' + vacature._id, method='POST', style='display:inline;')
                        input(type='hidden', name='_method', value='DELETE')
                        button(type='submit') Delete
        div(style='text-align:center;')
            a(href='/vacatures/new') Create New Vacature
