doctype html
html
    head
        title vacatures
        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        span
            button(onclick="history.back()") spek
            h1 All Vacatures
        ul
            each vacature in #{vacatures}
                li
                    span #{vacature.bedrijf} - #{vacature.recruiter}
                    a(href='/vacatures/' + vacature._id) View
                    a(href='/vacatures/' + vacature._id + '?_method=DELETE', rel='nofollow', data-method='DELETE') Delete
        div(style='text-align:center;')
            a(href='/vacatures/new') Create New Vacature

