doctype html
html
    head
        title Werknemers
    body
        button(onclick="window.location.href='/'") back
        h1 Lijst van alle werknemers
        ul
            each werkn in werknemers
                span
                    li
                        p