doctype html
html
    head
        title Werkzoekenden
    body
        button(onclick="window.location.href='/'") back
        h1 Lijst van alle werkzoekende
        ul
            each werkz in werkzoekende
                span
                    li
                        p
                            b Naam:
                            |   #{werkz.naam}
                            br
                            b E-mail:
                            | #{werkz.email}
                            b Competenties:
                            br
                            ul
                                each comp in werkz.competenties
                                    li
                                        p #{}
