doctype html
html
    head
        title Werkzoekenden
    body
        button(onclick="window.location.href='/'") back
        h1 Lijst van alle werkzoekende
        ul
            each werkz in werkzoekende
                span
                    li
                        p
                            b Naam:
                            |   #{werkz.naam}
                            br
                            b E-mail:
                            |   #{werkz.email}
                            br
                            b Competenties:
                            br
                            ul
                                each comp in werkz.competenties
                                    li
                                        p #{comp}
                            a(href=werkz.cv, target="_blank") CV
                            br
                            a(href='/werkzoekenden/edit/'+werkz.email) Pas deze werkzoekende aan.
        a(href='/werkzoekenden/add') Voeg nieuwe werkzoekende toe
