doctype html
html
    head
        title Werknemers
    body
        button(onclick="window.location.href='/'") back
        h1 Lijst van alle werknemers
        ul
            each werkn in werknemers
                span
                    li
                        p
                            b Naam:
                            |   #{werkn.naam}
                            br
                            b E-mail:
                            | #{werkn.email}
                            br
                            b Bedrijf:
                            | #{werkn.bedrijf.naam}
                            br
                            b Functie:
                            | #{werkn.functie}
                            br
                            a(href='/review/'+werkn.email+'/'+werkn.bedrijf.naam) Plaats beoordeling voor huidig bedrijf
        a(href='/werknemers/add') Voeg nieuwe werknemer toe