doctype html
html
    head
        title Werkzoekenden
    body
        button(onclick="window.location.href='/'") back
        h1 Lijst van alle werkzoekende
        ul
            each werkz in werkzoekende
                span
                    li
